body {
  margin: 0;
  background: linear-gradient(to right , rgba(18, 89, 212, 0.892) , green);
 
}

.calculator-grid{
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4 , 6rem);
  grid-template-rows: minmax(7rem , auto) repeat(5, 6rem);
  justify-content: center;
}

.span-two{
  grid-column: span 2;

}

.output{
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  padding-right: 1rem;
  word-wrap: break-word;
  word-break: break-all;
}

.previous-operand{
  color: aliceblue;
}

.current-operand{
  color: aliceblue;
  font-size: 2.5rem;
}


/* 
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color:gray; */
  /* cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

button{
  border: 1px solid white;
  transition: border-color 0.25s;
  background-color: rgb(208, 229, 229);
}

button:hover , focus{
  background-color: antiquewhite;
}
