.heading{
  padding-top: 20 rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1rem 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.layout{
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote{
  display: flex;
  align-items: center;
  justify-content: center;
  color: aqua;

}